@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media ((min-height:801px) and (min-width:640px)) ,(min-height:1091px),(max-height:737px) {
  .hide-on-small-height {
    display: none;
  }
}*/
@media (max-height: 640px) {
  .hide-on-small-height {
    display: none;
  }
} 
/* @media (min-height: 1124px) {
  .move-on-big-screen{
    /* margin-top: 20vh; 
  } 
  
}*/
@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-neumorphic {
  /* box-shadow:  -10px -2px 35px rgba(113, 113, 122, 0.9),  10px 2px 35px rgb(113 113 122 / 50%); */
  box-shadow:  -10px -2px 100px rgba(33, 150, 243,.2),  10px 2px 100px rgba(33, 150, 243,.2);
  color: white;
  border-radius: 50px;
  border-width: 1px;
  border-color: rgba(255,255,255,0);
  width: 220px;
  height: 48px;
  line-height:47px;
  font-size: 20px;
  letter-spacing: .81px;
  margin-top: 60px;
  text-align: center;
-webkit-transition : box-shadow .5s;
  transition : box-shadow .5s;
  background-color:rgba(0, 0, 0, 0.9);    
}
.btn-neumorphic:hover {
  border: 1px solid #181818;
  color: #ffff;
  box-shadow: 0px 0px 70px rgb(118, 255, 3);
  background-color: rgb(76, 175, 80);
  border-color: rgb(76, 175, 80);
  text-align: center;
} 
